[submodule "examples/wasmBoy"]
	path = examples/wasmBoy
	url = http://pwd.cafegame.cn:7990/scm/engine/wasmboy.git
[submodule "examples/engineExample"]
	path = examples/engineExample
	url = http://pwd.cafegame.cn:7990/scm/engine/engineexample.git
[submodule "docs"]
	path = docs
	url = http://pwd.cafegame.cn:7990/scm/engine/enginedocs.git
